/* Style the button that is used to open and close the collapsible content */
.collapsible {
    cursor: pointer;
    padding: 18px;
    width: 20%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 20px 20px 0 0;
    display: block;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/*
.active,
.collapsible:hover {
    background-color: #ccc;
}
*/

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.aboutme {
    font-size: small;
}

a {
    cursor: pointer;
}

.footer a {
    color: blue !important;
}

.footer a:hover {
    color: aqua !important;
}

#history > div {
    animation: fadeIn 2s ease;
}

#history > div.history-temp {
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* --- loader --- */
/* HTML: <div class="loader"></div> */
.loader {
    height: 60px;
    aspect-ratio: 2;
    border-bottom: 3px solid #0000;
    background: linear-gradient(90deg, #524656 50%, #0000 0) -25% 100%/50% 3px
        repeat-x border-box;
    position: relative;
    animation: l3-0 0.75s linear infinite;
}
.loader:before {
    content: "";
    position: absolute;
    inset: auto 42.5% 0;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #cf4647;
    animation: l3-1 0.75s cubic-bezier(0, 900, 1, 900) infinite;
}
@keyframes l3-0 {
    to {
        background-position: -125% 100%;
    }
}
@keyframes l3-1 {
    0%,
    2% {
        bottom: 0%;
    }
    98%,
    to {
        bottom: 0.1%;
    }
}
