<!doctype html>
<html lang="sv">
    <head>
        <meta charset="UTF-8" />
        <title>Statistikbolaget</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body
        class="bg-gray-50 text-gray-800 min-h-screen flex flex-col items-center p-6"
    >
        <img src="static/logo_small.png" alt="Statistikbolaget" />

        <div class="w-full max-w-2xl">
            <form id="queryForm" class="flex gap-2 mb-12">
                <input
                    id="questionInput"
                    type="text"
                    maxlength="100"
                    placeholder="Ex: Hur många röda viner från Sverige är ekologiska?"
                    class="flex-1 p-2 border rounded-lg"
                    required
                />
                <button
                    type="submit"
                    id="submitButton"
                    class="bg-blue-600 text-white px-4 py-2 rounded-lg"
                >
                    Skicka
                </button>
            </form>

            <div id="history" class="space-y-6"></div>
        </div>

        <div class="m-6 hidden" id="clearAllButtonContainer">
            <button
                id="clearAllButton"
                onclick="clearAllHistory()"
                class="bg-blue-600 text-white px-4 py-2 rounded-lg"
            >
                Rensa allt
            </button>
        </div>

        <div
            class="object-bottom-right aboutme space-y-6 w-96 bg-teal-50 shadow p-4 m-4 rounded-lg"
        >
            <p>
                Statistikbolaget använder
                <a
                    href="https://www.omsystembolaget.se/foretagsfakta/systembolaget-i-siffror/forsaljningsstatistik/"
                    >officiell statistik</a
                >
                från Systembolaget, men också tjänster från
                <a href="https://openai.com/">OpenAI</a> för att processa frågor
                och svar. Resultaten kan vara felaktiga och frågorna kan bli
                feltolkade.
            </p>
            <p>
                Jag som gjort sidan heter
                <a href="https://www.linkedin.com/in/naslundx/"
                    >Marcus Näslund</a
                >
                och gillar statistik och matematik i alla former, och har
                skrivit böckerna
                <a href="https://ensummaavogonblick.se"
                    >En Summa av Ögonblick</a
                >
                och
                <a href="https://kvadratrot.se">Verklighetens Kvadratrötter</a>
            </p>
        </div>

        <script src="/static/script.js"></script>
    </body>
</html>
